
        body{
            background: #380ff1;
        }
        .logintable{
            background :rgb(109, 48, 206);
            margin-top:50px;
            margin-left: 250px
        }
        .loginbutton{
            background: #f1c40f;
        }
   